/* Importo fuente desde fonts google*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    padding: 20px 0;
  }
  
  img {
    max-width: 100%;
  }
  
  a {
    display: inline-block;
    text-decoration: none;    
  }

  ul,
  ol {
    list-style-type: none;
    display: flex;
  }
  
  h1:first-letter,
  h2:first-letter,
  h3::first-letter,
  p:first-letter {
    text-transform: uppercase;
  }
  
  span {
    font-weight: bold;
  }